@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap"); /* Import the Lato font from Google Fonts */

:root {
  --main-color: #00eeff;
  --text-color: #ffffff;
  --bg-color-01: #1f242d;
  --bg-color-02: #323946;
  --color-00: #0000001a;

  /* Extra */
  --color-01: #999999;
  --color-02: #009539;
  --color-03: #7950f2;
  --color-04: #c00000;
  --color-05: #232323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--bg-color-01);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.1rem;
  background-color: var(--bg-color-01);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.nav a {
  font-size: 1.2rem;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  transition: 0.4s;
}

.nav a:hover {
  color: var(--main-color);
}

section {
  min-height: 100vh;
  padding: 6rem 6rem 2rem;
}

span {
  color: var(--main-color);
}

/* Home */

.home,
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.home-img {
  border-right: solid 0.6rem;
  border-bottom: solid 0.6rem;
  border-image: linear-gradient(135deg, transparent 50%, var(--main-color)) 1;
}

.about-img {
  border-left: solid 0.6rem;
  border-bottom: solid 0.6rem;
  border-image: linear-gradient(225deg, transparent 50%, var(--main-color)) 1;
}

.home-img img,
.about-img img {
  width: 100%;
}

.about {
  background-color: var(--bg-color-02);
}

.home-content,
.about-content {
  width: 45%;
}

.home-content h1,
.about-content h1 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 2.7rem;
}

.home-content h3,
.about-content h3 {
  font-weight: 700;
  font-size: 1.6rem;
}

.home-content p,
.about-content p {
  margin-top: 1.2rem;
  text-align: justify;
}

.profile-image {
  width: 450px;
  height: 450px;
}

.technologies h2,
.portfolio h2,
.contact h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.technologies-images {
  width: 6rem;
  height: 6rem;
  margin: 0.4rem;
  padding: 0.6rem;
  background-color: var(--color-00);
  border-radius: 1rem;
  border: solid 0.15rem;
  border-color: transparent;
}

.technologies-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.technologies-container,
.technologies-box {
  padding: 2rem 1rem 2.5rem;
  border-radius: 1.2rem;
  text-align: center;
  border: solid 0.15rem var(--bg-color-01);
  background-color: var(--bg-color-02);
  transition: 0.2s ease;
}

.technologies-image-box {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.technologies-container .technologies-box:hover {
  border-color: var(--main-color);
  transform: scale(1.05);
  box-shadow: 0 0 0.6rem black;
}

.technologies-images:hover {
  border-color: var(--main-color);
}

.technologies-box h3 {
    font-size: 1.5rem;
}

.projects-images {
    width: 500px;
    height: 281px; 
}






/* Configuração dos buttons */
.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
} 

.btn:hover {
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
}

